.naked-form-select-wrap {
    select {
        display: none;
    }
    .options-wrap {
        transition: all 255ms ease-in-out;
        overflow: hidden;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}